<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo list</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="todolist">
      <h1>{{title}}</h1>
      <input type="text" v-model="input" @keyup.enter="add(input)" />
      <ol>
        <li v-for="(todo, idx) in todos">
          <span>{{idx+1}}.</span><span> {{todo}}</span
          ><button @click="deleteTodo(idx)">x</button>
        </li>
      </ol>
    </div>

    <script src="vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#todolist",
        data: {
          title: "My Todo List",
          input: "",
          todos: ["exercise", "buy food"],
        },
        methods: {
          add: function (input) {
            this.input = input;
            this.todos.push(this.input);
            this.input = "";
          },
          deleteTodo: function (idx) {
            this.todos.splice(idx, 1);
          },
        },
      });
    </script>
  </body>
</html>
